In [ ]:
# revision
x = 5
y = 6
x + y
print(x+y)

11

The following cell describes printing behaviour

In [ ]:
# strings
s = 'lala'

# print string directly
print(s)
print('I am a string')

# string concatenation
r = 'lolo'
t = s + r
print(t)

# printing non-string types
x = 5
print(x)
# show variable content
print('the value of x is:', x)
# this will not work:
# print('the value of x is:' + x) # TypeError: can only concatenate str (not "int") to str
# this will work:
print('the value of x is: ' + str(x)) # notice the ' ' after ':'
y = 6
print('the value of x is: ' + str(x + y))
print('the value of x is: ' + str(x) + str(y))
print('the value of x is: ' + str(x) + '+' + str(y))
print('the value of x is: ' + str(x) + ' + ' + str(y))
c = 1/3
print('rational number: ' + str(c))
print('rational number: {:.2f}'.format(c))

lala
I am a string
lalalolo
5
the value of x is: 5
the value of x is: 5
the value of x is: 11
the value of x is: 56
the value of x is: 5+6
the value of x is: 5 + 6
rational number: 0.3333333333333333
rational number: 1.12

In [ ]:
# id function
x = 5
x_id = id(x)
print('x_id:', x_id)

# y = 6
# y_id = id(y)
# print('y_id:', y_id)

y = x
y_id = id(y)
print('y_id:', y_id)

x_id: 94837476514432
y_id: 94837476514432

In [ ]:
# id with lists different ids per instantiation
x = [1,2,3]
x_id = id(x)
print('x_id:', x_id)

x = [1,2,3]
x_id = id(x)
print('x_id:', x_id)

x_id: 140289096289888
x_id: 140289164649488

In [ ]:
# id with lists - different instanses
x = [1,2,3]
x_id = id(x)
print('x_id:', x_id)

y = x

y_id = id(y)
print('y_id:', y_id)

y = [4,5,6] # VARIABLE = ... then VARIABLE takes a new id
y_id = id(y)
print('y_id:', y_id)

print('x: ', x)
print('y: ', y)

x_id: 140289096580704
y_id: 140289096641424
y_id: 140289096580704
x:  [4, 5, 6]
y:  [4, 5, 6]

In [ ]:
# id with lists - same instance instanses
x = [1,2,3]
x_id = id(x)
print('x_id:', x_id)

y = x # y = [1,2,3]
y_id = id(y)
print('y_id:', y_id)

# make y=[4,5,6], as above, but element-by-element
y[0] = 4
y[1] = 5
y[2] = 6
y_id = id(y)
print('y_id:', y_id)

print('x: ', x)
print('y: ', y)

x_id: 140289096641424
y_id: 140289096641424
y_id: 140289096641424
x:  [4, 5, 6]
y:  [4, 5, 6]

In [ ]:
x = 5
y = 6

print('x == y: ', y==x) # is x the same as y?

y = x # assignment: left-side from the operant (τελεστής) takes value of right-side
print('y:', y)
print('x == y: ', y==x) # is x the same as y?

# ========================================

x = 5
y = 6

x = y
print('x: ', x)

x == y:  False
y: 5
x == y:  True
x:  6

In [ ]:
# sets, lists and dictionaries
# set
s = {1,2,3,4,2,1,3,5,6,6,4,2,5,7}
print('set s: ', s)
s1 = {3,2,1}
s2 = {2,1,2,2,3,1,2,3,1,2,3,1,2}
print('s1 == s2: ', s1 == s2)

# list
l1 = [1,2,3]
l2 = [1,2,3,2]
print('l1 == l2: ', l1 == l2)
# retrieving by index
x = l1[2]
print('x: ', x)

set s:  {1, 2, 3, 4, 5, 6, 7}
s1 == s2:  True
l1 == l2:  False
x:  3

In [ ]:
# dictionaries: retrieving by key
d = {
    'name': 'Max',
    'height': 1.69,
    'laptops_owned': ['macbook', 'lenovo', 'dell'],
    'is_clever': False
}

print('d: ', d)

# retrieving by key
n = d['name']
print('n:', n)
laptop1 = d['laptops_owned'][1]
print('laptop1:', laptop1)

d = {
    'name': 'Max',
    'height': 1.69,
    'laptops_owned': [
        {
            'brand': 'macbook',
            'ram': 8
        },
        {
            'brand': 'dell',
            'ram': 16
        }
    ],
    'is_clever': False
}

print('d:', d)
ram_value_of_laptop1 = d['laptops_owned'][1]['ram']
print('ram_value_of_laptop1:', ram_value_of_laptop1)

# get all keys of dictionary
k = d.keys()
print(k)
v = d.values()
print(v)

# deleting key-value pair
del d['laptops_owned']
print('d:', d)
# add new key-value pair
d['cars_owned'] = ['ferrari', 'prosche', 'lada niva']
print('d:', d)

d:  {'name': 'Max', 'height': 1.69, 'laptops_owned': ['macbook', 'lenovo', 'dell'], 'is_clever': False}
n: Max
laptop1: lenovo
d: {'name': 'Max', 'height': 1.69, 'laptops_owned': [{'brand': 'macbook', 'ram': 8}, {'brand': 'dell', 'ram': 16}], 'is_clever': False}
ram_value_of_laptop1: 16
dict_keys(['name', 'height', 'laptops_owned', 'is_clever'])
dict_values(['Max', 1.69, [{'brand': 'macbook', 'ram': 8}, {'brand': 'dell', 'ram': 16}], False])
d: {'name': 'Max', 'height': 1.69, 'is_clever': False}
d: {'name': 'Max', 'height': 1.69, 'is_clever': False, 'cars_owned': ['ferrari', 'prosche', 'lada niva']}

In [ ]:
# id and content alteration in dictionaries
d = {
    'name': 'Max',
    'height': 1.69,
    'laptops_owned': ['macbook', 'lenovo', 'dell'],
    'is_clever': False
}

g = d # shallow copy - same id
print('id of d: ', id(d))
print('id of g: ', id(g))

print('g: ', g)
g['name'] = 'Giorgos' # changes in d - same id

print('d: ', d)

id of d:  140289095444272
id of g:  140289095444272
g:  {'name': 'Max', 'height': 1.69, 'laptops_owned': ['macbook', 'lenovo', 'dell'], 'is_clever': False}
d:  {'name': 'Giorgos', 'height': 1.69, 'laptops_owned': ['macbook', 'lenovo', 'dell'], 'is_clever': False}

In [ ]:
import copy
# id and content alteration in dictionaries
d = {
    'name': 'Max',
    'height': 1.69,
    'laptops_owned': ['macbook', 'lenovo', 'dell'],
    'is_clever': False
}

# g = d # shallow copy - same id
# do deep copy instead
g = copy.deepcopy( d )
print('id of d: ', id(d))
print('id of g: ', id(g))

print('g: ', g)
g['name'] = 'Giorgos' # changes in d - same id

print('d: ', d)

id of d:  140289095586752
id of g:  140289095587552
g:  {'name': 'Max', 'height': 1.69, 'laptops_owned': ['macbook', 'lenovo', 'dell'], 'is_clever': False}
d:  {'name': 'Max', 'height': 1.69, 'laptops_owned': ['macbook', 'lenovo', 'dell'], 'is_clever': False}